{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <p><a href="{{ path('app-sign-up') }}">Зарегистрироваться</a></p>
    <p><a href="{{ path('auth') }}">Авторизоваться</a></p>
    <p><a href="{{ path('profile') }}">Профиль</a></p>
{% endblock %}