{% extends 'base.html.twig' %}

{% block body %}
  <p>Почта: {{ user.email }}</p>
    <p>Пасспорт: {{ user.passport }}</p>
    {% if not soc_net=='' %}

        <h4>Привязать аккаунт к соц сети: </h4>
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers={{ soc_net }};hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fjoin;mobilebuttons=0;optional=email"></div>{% endif %}
{% endblock %}

{% block title %} Профиль{% endblock %}

