{% extends "base.html.twig" %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрируйся тут</h1>
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ form(form) }}
    <hr/>
    {{ include('ulogin_libs/ulogin.html.twig') }}
{% endblock %}


