{% extends 'base.html.twig' %}

{% block body %}
    <h1>Авторизоваться будешь?</h1>
    {% if(error) %}
        {{ error }}
    {% endif %}
    {{ form(form) }}

    <hr/>
    {{ include('ulogin_libs/ulogin_auth.html.twig') }}
{% endblock %}

{% block title %}

{% endblock %}

